body {
    background-color: #c9e2fc;
    color: #333;
}
.container {
    margin-top: 50px;
}
.jumbotron {
    background-color: #b7dafd;
}
.btn-primary {
    background-color: #06243e;
    border-color: #9aacbd;
}
.btn-primary:hover {
    background-color: #b6dbff;
    border-color: #cfd0d0;
}